<!-- Service Start -->
<section id="service">
  <div class="container">

    <!-- Intro -->
    <div class="row">
      <div class="section-title">
        <h2>{{ .Site.Params.feature.title }}</h2>
        <p>{{ .Site.Params.feature.subtitle }}</p>
      </div>
    </div>

    <!-- Content -->
    <div class="row">
      <p>High-Level Overview of Amazon Skills</p>
    </div>
    <img src="https://m.media-amazon.com/images/G/01/mobile-apps/dex/ask-smart-home-docs/Smart-home_diagram_V3._CB515411875_._TTH_.png" alt="">
    <div class="row">
      <p>SmartWatcher, powered by Amazon Lambda</p>
    </div>
    <img src="img/Flowchart.png" alt="">
    <div class="row">
      <!-- {{ .Site.Params.feature.content }} -->
      <p><a href="https://devpost.com/software/smartwatcher">Devpost</a>, <a href="https://devpost.com/software/smartwatcher">GitHub</a>, <a href="https://docs.google.com/presentation/d/1hnEbS85fWeWY49ii0HkPnh7WHXjcbiytJyHt43siGMw/edit?usp=sharing">presentation</a></p>
    </div>
  </div>
</section>
