<section id="feature">
<div class="container">
  <img src="img/featue-bg.jpg" alt="" class="img-filled">
  <a href="https://as4mo3.github.io/NoMoreHeadaches/form">
  <button type="button" name="toForm">Click here to see the form.</button>
  </a>
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2 class="text-uppercase">{{ .Site.Params.feature.title }}</h2>
      <p>
      	{{ .Site.Params.feature.content}}
      </p>
      <div class="img-container">

      </div>
      {{ with .Site.Params.feature.button }}
      	<a href="{{ .url }}" class="btn btn-main">{{ .caption }}</a>
      {{ end }}
    </div>
  </div>
</div>
</section>
